

html {
  scroll-behavior: smooth;
}

#root { 
	font-family: Georgia,Times,Times New Roman,serif; 
  background-image: url('./assets/restaurant.webp');
}

.card img {
  object-fit: cover;
  height: 200px;
}

h1 {
  color:antiquewhite
}